In [6]:
import pandas as pd

data = pd.read_csv("침수심.csv", encoding='CP949')
data

,순번,침수 원인(FLUD_CAUSE),침수 지구 명(F_DSTRC_NM),침수 재해 명(F_DSSTR_NM),침수 원인 상세(F_CUE_DTL),행정구역 코드(ADM_CD),작성 년월(WRITNG_YM),침수 시간(FLUD_TIME),침수심(FLUD_DPWT),피해금액(DMG_AMOUNT),침수 시작 년월일(F_BEGIN_DE),침수 종료 년월일(F_END_DE),침수 시작 시각(F_BEGIN_TM),침수 종료 시각(F_END_TM),침수위(FLUD_WAL)
0,32614,2,동광1지구,태풍'볼라벤'으로 인한 침수,하수구에서 물이 넘쳐 대지로 유입. 우수집중유입,제주특별자치도 서귀포시 안덕면 동광리,2013-02-01,0.0,NaN,0.0,2012-08-27,2012-08-28,0,0,28.7M
1,32615,2,동광2지구,태풍'볼라벤'으로 인한 침수,도로보다 지대가 낮아 우수집중유입,제주특별자치도 서귀포시 안덕면 동광리,2013-02-01,0.0,NaN,0.0,2012-08-27,2012-08-28,0,0,28.7M
2,32616,2,사계1지구,태풍'볼라벤'으로 인한 침수,도로에서 우수가 집중유입되어 침수,제주특별자치도 서귀포시 안덕면 사계리,2013-02-01,0.0,NaN,0.0,2012-08-27,2012-08-28,0,0,28.7M
3,32617,2,화순1지구,태풍'볼라벤'으로 인한 침수,지대가 낮아 도로에서 우수 유입,제주특별자치도 서귀포시 안덕면 화순리,2013-02-01,0.0,NaN,0.0,2012-08-27,2012-08-28,0,0,28.7M
4,32618,2,화순2지구,태풍'볼라벤'으로 인한 침수,지대가 낮아 도로및 주위 높은 지대에서 우수유입,제주특별자치도 서귀포시 안덕면 화순리,2013-02-01,0.0,NaN,0.0,2012-08-27,2012-08-28,0,0,28.7M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5718,39178,1,산곡지구,2020년 8월 집중호우,집중호우에 의한 하천 범람,충청북도 제천시 산곡동,2021-03-01,24.0,2.8,0.0,2020-08-02,2020-08-03,0,0,272.6
5719,39364,1,동파지구,2020.7.28~8.11침수피해,NaN,경기도 파주시 진동면 동파리,2021-03-01,120.0,4.1,0.0,2020-08-01,2020-08-06,0,0,12.1
5720,39374,1,동파지구,2020.7.28~8.11침수피해,NaN,경기도 파주시 진동면 동파리,2021-03-01,120.0,1.6,0.0,2020-08-01,2020-08-06,0,0,12.1
5721,39379,1,동파지구,2020.7.28~8.11침수피해,NaN,경기도 파주시 진동면 동파리,2021-03-01,120.0,3.9,0.0,2020-08-01,2020-08-06,0,0,12.1
5722,39381,1,하포지구,2020.7.28~8.11침수피해,NaN,경기도 파주시 진동면 하포리,2021-03-01,120.0,2.5,0.0,2020-08-01,2020-08-06,0,0,14.9

In [7]:
dpwt = data[data['행정구역 코드(ADM_CD)'].str.contains('부산광역시')&data['침수심(FLUD_DPWT)']]
dpwt

,순번,침수 원인(FLUD_CAUSE),침수 지구 명(F_DSTRC_NM),침수 재해 명(F_DSSTR_NM),침수 원인 상세(F_CUE_DTL),행정구역 코드(ADM_CD),작성 년월(WRITNG_YM),침수 시간(FLUD_TIME),침수심(FLUD_DPWT),피해금액(DMG_AMOUNT),침수 시작 년월일(F_BEGIN_DE),침수 종료 년월일(F_END_DE),침수 시작 시각(F_BEGIN_TM),침수 종료 시각(F_END_TM),침수위(FLUD_WAL)
302,30581,2,장림지구,호우피해,집중호우로 인한 하수 범람,부산광역시 사하구 장림동,2009-12-01,4.0,0.433,4.668000e+09,2009-07-16,2009-07-16,800,1200,2.21M
303,30582,2,남천지구,침수피해,집중호우,부산광역시 수영구 남천동,2009-12-01,4.0,0 ~ 1,0.000000e+00,2009-07-16,2009-07-16,600,1000,3M
304,30583,2,송정지구1-1,호우피해,집중호우로 인한 하천 범람,부산광역시 해운대구 송정동,2009-12-01,4.0,0.55,5.500000e+07,2009-07-16,2009-07-16,700,1100,3.1M
305,30584,2,송정지구1-2,호우피해,집중호우로 인한 하천 범람,부산광역시 해운대구 송정동,2009-12-01,4.0,0.4,5.000000e+07,2009-07-16,2009-07-16,700,1100,3.28M
306,30585,2,송정지구1-3,호우피해,집중호우로 인한 하천 범람,부산광역시 해운대구 송정동,2009-12-01,4.0,0.45,4.500000e+07,2009-07-16,2009-07-16,700,1100,4.87M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5390,34632,1,연제구 연산동 310 일,장마철 집중호우,내수침수,부산광역시 연제구 연산동,2021-03-01,16.0,0.5,0.000000e+00,2020-07-23,2020-07-24,21,0,0.5
5391,34642,1,연제구 연산동 402번,장마철 집중호우,내수침수,부산광역시 연제구 연산동,2021-03-01,3.0,0.5,0.000000e+00,2020-07-23,2020-07-24,21,0,0.5
5392,34648,1,연제구 연산동 1515-6,장마철 집중호우,내수침수,부산광역시 연제구 연산동,2021-03-01,3.0,0.5,0.000000e+00,2020-07-23,2020-07-24,21,0,0.5
5454,36062,1,연제구 연산동 376-1,태풍 하이선,내수침수,부산광역시 연제구 연산동,2021-03-01,3.0,0.5,0.000000e+00,2020-09-07,2020-09-07,7,10,0.4
5664,38601,1,연제구 거제동 1463-4,태풍 하이선,내수침수,부산광역시 연제구 거제동,2021-03-01,2.0,0.8,0.000000e+00,2020-09-07,2020-09-07,7,9,0.5

In [36]:
dpwt.to_csv('침수심_부산_전체.csv')

In [41]:
dpwt = dpwt[dpwt['행정구역 코드(ADM_CD)'].str.contains('부산광역시')&dpwt['침수심(FLUD_DPWT)'].str.contains('~')]
dpwt

303          0 ~ 1
433       0.2 ~ 1.8
453     0.3  ~ 0.8
454     0.3  ~ 0.4
455     0.3  ~ 0.4
           ...
2172        0.3~0.5
2325        0.3~0.5
2326        0.5~1.0
2327        0.5~1.0
2328        0.3~1.0
Name: 침수심(FLUD_DPWT), Length: 100, dtype: object

In [12]:
dpwt.fillna(0)

     침수심(FLUD_DPWT)
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
5718            2.8
5719            4.1
5720            1.6
5721            3.9
5722            2.5

[5723 rows x 1 columns]

avg 데이터 침수심 데이터에 넣기

In [4]:
import pandas as pd

avg = pd.read_csv("침수심_부산_평균.csv")
avg['침수심(FLUD_DPWT)'] = avg['avg']
avg.to_csv("침수심_부산_평균수정후.csv", mode='w')

수정한 데이터 + 수정하지 않은 데이터 합치기

In [ ]:
data.fillna(0)

In [16]:
not_edit = data[data['행정구역 코드(ADM_CD)'].str.contains('부산광역시')&~data['침수심(FLUD_DPWT)'].str.contains('~', na=False)]
edit = pd.read_csv("침수심_부산_평균수정후.csv")

f_concat = pd.concat([not_edit, edit], ignore_index=True)
f_concat.to_csv("침수심_부산_수정.csv", mode='w')

배수펌프장 ( 날리기

In [7]:
import pandas as pd

pump = pd.read_csv("한국국토정보공사_배수펌프장 서비스.csv")
avlty = pump['item/avilaty']
avlty = avlty.to_frame()
avlty['result'] = avlty['item/avilaty'].str.split('(').str[0]
avlty['item/avilaty'] = avlty['result']
avlty = avlty.drop(['result'], axis=1)
avlty

   item/avilaty
0         620\n
1        15\r\n
2        15\r\n
3     2,500\r\n
4       136\r\n
5        80\r\n
6       100\r\n
7       100\r\n
8       100\r\n
9     1,070\r\n
10      950\r\n
11      950\r\n
12    2,797\r\n
13    1,500\r\n
14      850\r\n
15    2,640\r\n
16    1,620\r\n
17       27\r\n
18      940\r\n
19      390\r\n

원래 데이터랑 합치기

In [10]:
pump['item/avilaty'] = avlty
pump.to_csv("한국국토정보공사_배수펌프장 서비스_수정.csv", mode='w')

태풍 목록 발생년월일만 남기기

In [17]:
import pandas as pd

typn = pd.read_csv("태풍목록(2009-2021).csv", )
typn['발생'] = typn['발생'].str.slice(start=0, stop=10)
typn.to_csv("태풍목록(2009-2021)_수정.csv", mode='w')